* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

#submit {
  padding: 10px 0;
  width: 100px;
  background: #3b70c4;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

#submit:hover {
  background: #3b5e9e;
}

#submit:active {
  background: #6185c4;
}

body, button, textarea, ::placeholder {
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: #c2653c;
  min-height: 50vh;
  border-radius: 50px;
  width: 400px;
  max-width: 400px;
}

.boostlevel-container {
  margin-bottom: 24px;
}

#boostLevel {
  padding: 0;
  margin: 0;
  outline: none;
}

form input, select {
  padding: 10px 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  color: black;
}

select {
  width: auto;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options label {
  width: 100%;
}

select {
  text-align: center;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.priceInput {
  height: 37px;
  width: 100px;
  float: right;
}

.result {
  margin-top: 16px;
  color: white;
  font-weight: 600;
}

.resultStones, .resultPrice {
  text-align: center;
}

.result-container {
  text-align: center;
  margin-top: 16px;
}